{% extends 'base.html.twig' %}
{% block title %}
    {{ad.title}}
{% endblock %}
{% block body %}
    <div class="add-title" style="background-image:url({{ad.coverImage}})">
        <div class="container">
            <h1>
                {{ad.title}}</h1>
            <p>
                {{ad.introduction}}</p>
            <p class="h2">
                <strong>
                    {{ad.romms}}</strong>
                chambres
            </strong>pour<strong>
                {{ad.price}}
                euros</strong>
            par nuit</p>
        <a href="#" class="btn btn-primary">Reserver !</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            {{ad.content|raw}}
            <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
                <ol class="carousel-indicators">
                    {% for image in ad.images %}
                        <li {% if loop.first %} class="active" {% endif %} data-slide-to="{{loop.index0}}" data-target="#carouselExampleIndicators"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in ad.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img alt="First slide" class="d-block w-100" src="{{image.url}}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>
                                        {{ad.title}}</h5>
                                    <p>
                                        {{image.caption}}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Précedent</span>
                        </a>
                        <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Suivant</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mb-6">
                    <div class="col-4">
                        <img src="http://placehold.it/64x64" alt="Avatar de farouk"></div>
                        <div class="col">
                            <h3>Joseph Farouk</h3>
                            <span class="badge badge-primary">3 annonces</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nobis asperiores excepturi minima, inventore repellat ipsam fugiat. Impedit, unde ratione.</p>
                        <p>Nihil distinctio officia sint vel dicta? At consequatur tempora laborum vitae iste consectetur, labore itaque culpa cupiditate ad sequi sit!</p>
                        <p>Quaerat impedit voluptatibus maiores cum itaque eum esse, accusantium aperiam sapiente aut ducimus. Autem, dolore fugiat? Amet, culpa. Fugiat, accusamus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}